@import url("https://fonts.googleapis.com/css?family=Kanit:400,800");

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  background-color: #000;
  color: #222;
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  align-items: center;
}

/* Intro */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  background: #000;
  transition: 2s;
}

.introLogo {
  margin: 20px 0;
}

.logo-letter {
  font-size: 40px;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-letter.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-letter.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.leo {
  color: #edb23b;
}

.network {
  color: #f1592a;
}

.space {
  color: #000;
}

.introParagraph {
  font-size: 20px;
  color: rgb(70, 69, 69);
}

/* Max Container*/

.MaxContainer {
  /* border: solid #fff; */
  color: #000;
  overflow-x: hidden;
}

/* Navigation Bar*/

.nav,
.TVnav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  transition: all 1s ease-in-out;
  z-index: 3;
}

.nav .container,
.TVnav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 1s ease-in-out;
}

.nav ul,
.TVnav ul {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a,
.TVnav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.5s ease-in-out;
  margin: 0 20px;
  letter-spacing: 1;
}

.nav h1,
.TVnav h1 {
  transition: all 1s ease-in-out;
}

.nav.active,
.TVnav {
  background-color: rgb(31, 27, 27);
  box-shadow: 0 2px 10px rgba(0, 0, 0 0.3);
}

.nav.active .container,
.TVnav .container {
  padding: 5px 0;
}

.nav a.current,
.nav a:hover,
.TVnav a.current,
.TVnav a:hover {
  color: #c0392b;
  font-weight: bold;
}

#header-img {
  height: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s ease-in-out;
}

.nav.active #header-img,
.TVnav #header-img {
  height: 3rem;
  margin: auto;
}

.title {
  margin: auto 0 auto 0;
  transition: all 1s ease-in-out;
}

.title.active,
.TVnav .title {
  margin: 10x 0 10px 0;
}

.nav.active .navTitle,
.TVnav .navTitle {
  height: 2px;
}

.nav.active .navNetwork,
.TVnav .NavNetwork {
  height: 1.5rem;
}

.LogoTitle {
  display: flex;
}

.NavNetwork {
  color: #555;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}

.NavNetwork.active,
.TVnav .NavNetwork {
  color: #555;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

/* Learn button */

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --card-height: 80px;
  --card-width: calc(var(--card-height) * 2);
}

.learn {
  background: #c26033;
  height: var(--card-height);
  width: var(--card-width);
  padding: 3px;
  position: fixed;
  top: 150px;
  right: 50px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  font-weight: 800;
  color: #c26033;
  font-size: 20px;
  letter-spacing: 3px;
}

.learn:hover {
  color: rgb(88 199 250/ 100%);
  transition: color 1s;
  color: #000;
  border-color: #d89c42;
  box-shadow: 1px 1px 10px #d89c42;
}

.learn:hover:before,
.learn:hover:after {
  animation: none;
  opacity: 0;
}

.learn::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #c29c33,
    #c26033 43%,
    #c23333
  );
  position: absolute;
  z-index: -1;
  animation: spin 1s linear infinite;
}

.learn::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 100);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  transform: scale(0.9);
  filter: blur(calc(var(--card-height) / 100));
  background-color: #000;
  opacity: 1;
  transition: opacity 0.5s;
}

/* Leo Intro*/

.LeoFinanceNetwork {
  /* border: solid #fff; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 200px;
  z-index: -2;
}

#LeoLogo {
  /* border: solid #fff; */
  margin: 150px 0 50px 0;
  height: 15rem;
}

.LeoFinanceNetwork h1 {
  font-size: 40px;
  text-shadow: 1px 1px 10px rgb(161, 76, 6);
  margin: 20px 0 20px;
  color: fff;
}

.LeoFinanceNetwork p {
  font-size: 20px;
  margin-left: 17.5%;
  margin-right: 17.5%;
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.LeoFinanceNetwork h2 {
  font-size: 150%;
  margin: 10px 0;
  color: #000;
}

.vision {
  padding: 30px 0;
  font-style: bold;
  font-size: 2rem;
  margin: 50px 0 0 0;
  color: #fff;
  line-height: 1px;
  text-shadow: 1px 1px 10px #ffc229;
}

/* Containers */

.midContainer {
  /* border: 1px solid rgb(255, 255, 255); */
  max-width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto 0 auto;
  z-index: 1;
  letter-spacing: 10px;
}

.smallContainer {
  /* border: 1px solid rgb(255, 0, 0); */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  margin: 20px;
  z-index: -2;
  letter-spacing: 10px;
  position: relative;
  padding: 50px;
}

.containerText {
  /* border: 1px solid rgb(255, 255, 255); */
  justify-content: left;
  padding: 0% 40px;
}

.containerText h1 {
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 40px;
  margin: 0 0 20px;
  color: #fff;
}

.containerText h2 {
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 150%;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

.containerText p {
  /* border: 1px solid rgb(255, 255, 255); */
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.appbutton {
  font-weight: 600;
  color: #000;
  text-align: center;
  text-justify: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 3px;
  text-decoration: none;
  z-index: 999;
  opacity: 0;
}

.appbutton.show {
  opacity: 1;
  animation: anime 1.5s ease;
  height: 60px;
  width: 300px;
}

@keyframes anime {
  0% {
    width: 300px;
    height: 60px;
    color: transparent;
    border: none;
    box-shadow: none;
  }
  25% {
    width: 60px;
    height: 60px;
    color: transparent;
  }
  50% {
    width: 60px;
    height: 60px;
    transform: scale(0.8);
    box-shadow: 1px 1px 50px #fff;
    color: transparent;
  }
  75% {
    width: 60px;
    height: 60px;
    color: transparent;
  }
  100% {
    width: 300px;
    height: 60px;
    color: #000;
    color: transparent;
  }
}

.appbutton:hover {
  transform: scale(0.98);
}

.sizebutton {
  padding: auto;
}

/* Multi token Bridge */

#bridgeLogo {
  width: 400px;
}

.bridgeText {
  margin: 0;
}

.bridgeText h1 {
  text-shadow: 1px 1px 15px #ff7300;
}

.bridgeButton {
  background: transparent;
  border: 3px solid #ff7300;
  box-shadow: 1px 1px 10px #d89c42;
  color: rgb(184, 99, 2);
}

/* Tokenized Container*/

#blogImage {
  height: 300px;
}

.blogText h1 {
  text-shadow: 1px 1px 15px rgb(255, 44, 2);
}

.blogButton {
  background: transparent;
  border: 2px solid #f0582a;
  box-shadow: 1px 1px 10px #f86c42;
  color: #f0582a;
}

/* CUB FINANCE */

#cub_logo {
  height: 300px;
}

.cubText h1 {
  text-shadow: 1px 1px 15px #138cf5;
}

.cubButton {
  background: transparent;
  border: 2px solid #3375bb;
  box-shadow: 1px 1px 10px #49aaff;
  color: #3375bb;
}

/* POLYCUB*/

#polycub_logo {
  height: 400px;
  padding: 10%;
}

.polycubText h1 {
  text-shadow: 1px 1px 15px #ffaf39;
}

.polycubButton {
  background: transparent;
  border: 2px solid #ffaf39;
  box-shadow: 1px 1px 10px #f7bb62;
  color: #ffaf39;
}

/* Community */

.community {
  /* border: 1px solid rgb(255, 255, 255); */
  max-width: 80%;
  height: 70vh;
  margin: 200px auto 20px auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  letter-spacing: 10px;
  position: relative;
  transform: translateY(150);
}

.communityBackground {
  /* border: 1px solid rgb(255, 255, 255); */
  padding-top: 300px;
  padding-bottom: 80px;
  background-image: url("LeoNetworkBG.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 0;
}

.communityBackground.show {
  opacity: 1;
  animation: lion 1.5s ease;
}

@keyframes lion {
  0% {
    background-image: url("LeoNetworkBG\ -\ 20px.png");
  }
  11% {
    background-image: url("LeoNetworkBG\ -\ 18px.png");
  }
  33% {
    background-image: url("LeoNetworkBG\ -\ 15px.png");
  }
  44% {
    background-image: url("LeoNetworkBG\ -\ 13px.png");
  }
  55% {
    background-image: url("LeoNetworkBG\ -\ 10px.png");
  }
  66% {
    background-image: url("LeoNetworkBG\ -\ 8px.png");
  }
  77% {
    background-image: url("LeoNetworkBG\ -\ 5px.png");
  }
  88% {
    background-image: url("LeoNetworkBG\ -\ 3px.png");
  }
  100% {
    background-image: url("LeoNetworkBG.png");
  }
}

.communityText {
  /* border: 1px solid rgb(255, 255, 255); */
  padding-top: 10px;
}

.communityText h1 {
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 40px;
  margin: -20px 0 20px;
  color: fff;
  text-shadow: 1px 1px 15px rgb(158, 88, 7);
}

.communityText h2 {
  border-color: rgb(0, 0, 0);
  font-size: 150%;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

.communityText p {
  font-size: 1rem;
  /* border: 1px solid rgb(0, 0, 0); */
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.community .paragraphs {
  margin: 50px 0 0 0;
}

.socialMedia {
  /* border: 1px solid #fff; */
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin: 40px 10px 0 10px;
  font-size: 25px;
  text-decoration: none;
}

/* Scroll and show Widget */

.box {
  transform: translateX(-100%);
  transition: transform 1s ease;
  overflow-x: hidden;
  opacity: 0;
  transition: all 1.5s ease;
}

.containerText {
  transform: translateX(100%);
  transition: transform 1s ease;
  overflow-x: hidden;
  opacity: 0;
  transition: all 1.5s ease;
}

.polycubImage .box,
.TokenizedImage .box {
  transform: translateX(100%);
}

.polycubText,
.blogText {
  transform: translateX(-100%);
}

.box.show {
  transform: translateX(0);
  opacity: 1;
}

.containerText.show {
  transform: translateX(0);
  opacity: 1;
}

/* LEARN */

.learnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.learningSection {
  color: #fff;
  font-size: 16px;
}

.learnContainer .blogText,
.learnContainer .cubText,
.learnContainer .polycubText {
  color: #fff;
  transform: translateX(0);
  font-size: 12px;
}

/* Carousel */

:root {
  --movie-width: 15.5vw;
  --movie-height: 200px;
  --arrow-width: 50px;
  --slider-py: 200px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 25vw;
  }
}

/* LEO TV */

.currentWeekContainer {
  /* border: 1px solid rgb(255, 255, 255); */
  margin: 6rem auto 150px auto;
  height: 85vh;
  width: 80vw;
  position: relative;
}

.agenda {
  /* border: solid rgb(255, 0, 0); */
  font-size: 5vh;
  font-weight: bold;
  background: linear-gradient(to right, hsl(40 100% 62%), hsl(0 100% 25%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1vh;
}

.tvShows {
  display: flex;
  width: 100%;
  z-index: 3;
  padding-top: 2rem;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 15vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 1vh;
  position: relative;
  transition: all 1s ease;
  box-shadow: 0 0 5px 1px #ffffff;
}

.panel .accessShow,
.panel .accessShow#accessAMA,
.panel .iconLinkAMA {
  opacity: 0;
  cursor: default;
}

.panel.activeShow .showDescription {
  width: auto;
  opacity: 1;
  font-size: 1rem;
  letter-spacing: 1;
  height: 5vh;
  transform: translateY(1120%);
  transition: opacity 0.3s ease-in 0.4s;
  cursor: default;
}

.panel.activeShow .accessShow#accessAMA {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 20vw;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: translateX(260%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 30%, #000000 70%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  cursor: default;
}

.panel.activeShow .accessShow#accessCryptomaniacs {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 20vw;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: translateX(240%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #540f0f;
  background: radial-gradient(ellipse at center, #380a0a 30%, #000000 70%);
  text-shadow: 0 0 20px rgb(230, 10, 10), 0 0 20px rgba(230, 10, 10, 0);
  cursor: default;
}

.panel.activeShow .accessShow#accessOpenshow {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 20vw;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: translateX(210%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #0f1154;
  background: radial-gradient(ellipse at center, #0a0c38 30%, #000000 70%);
  text-shadow: 0 0 20px rgb(10, 36, 230), 0 0 20px rgba(10, 21, 230, 0);
  cursor: default;
}

.panel.activeShow .accessShow#accessCryptoholics {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 20vw;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: translateX(-125%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #0f1154;
  background: radial-gradient(ellipse at center, #0a0c38 30%, #000000 70%);
  text-shadow: 0 0 20px rgb(10, 36, 230), 0 0 20px rgba(10, 21, 230, 0);
  cursor: default;
}

.panel.activeShow .accessShow#accessOpenSlot {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 20vw;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: translateX(-140%);
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #0f1154;
  background: radial-gradient(ellipse at center, #0a0c38 30%, #000000 70%);
  text-shadow: 0 0 20px rgb(10, 36, 230), 0 0 20px rgba(10, 21, 230, 0);
  cursor: default;
}

.linksAMA {
  display: flex;
  padding: 1vh;
  opacity: 1;
}

.panel.activeShow .iconLinkAMA {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin: 0 0.7vw 0 0.7vw;
  opacity: 1;
  /* border: solid #fff; */
}

.countdownToAMA,
.countdownToCryptomaniacs,
.countdownToOpenshow {
  font-size: 2vh;
}

.panel h3 {
  font-size: 1rem;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  color: rgb(255, 255, 255);
  font-size: auto;
  text-shadow: 0 0 10px 10px rgb(255, 0, 0);
}

.panel.activeShow {
  flex: 5;
  height: 55vh;
  background-image: none;
}

.panel .showDescription {
  opacity: 0;
  padding: 10px;
}

.panel.activeShow h3 {
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.showsHistory {
  /* border: solid rgb(23, 6, 254); */
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Show History */

.catchUp {
  /* border: solid #fff; */
  font-size: 2vh;
  font-weight: bold;
  background: linear-gradient(to right, hsl(20 100% 35%), hsl(40 100% 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0 2vw 0 2vw;
}

.scrollShowsLeft span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #ffc906;
  border-right: 3px solid #ffc906;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scrollShowsRight span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #ff1706;
  border-right: 3px solid #ff1706;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scrollShowsRight span:nth-child(2),
.scrollShowsLeft span:nth-child(2) {
  animation-delay: -0.2s;
}

.scrollShowsRight span:nth-child(3),
.scrollShowsLeft span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(5px, 5px);
  }
}

:root {
  --handle-size: 3rem;
  --iframe-gap: 0.25rem;
}

.catchUpContainer {
  /* border: solid #fff; */
  margin-top: 0;
}

.showContainer {
  /* border: solid #fff; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 4;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--iframe-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > iframe,
.iframe {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--iframe-gap);
  border-radius: 1rem;
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.showText {
  transition: transform 150ms ease-in-out;
}

.handle:hover .showText,
.handle:focus .showText {
  transform: scale(1.2);
}

.showHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
  margin: 0 2rem 0 2rem;
}

.showTitle {
  font-size: 2rem;
  margin: 1rem;
  color: #c0392b;
}

.progress-bar {
  display: flex;
  gap: 0.25rem;
  margin: 0 1rem 0 1rem;
}

.progress-item {
  flex: 0 0 1.5rem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}

.iframe:hover {
  transform: scale(0.98);
}

.episodeDescriptionBox {
  /* border: solid #fff; */
  color: transparent;
  height: 4rem;
  margin: 1rem;
  padding: 1rem;
}

.leoTVMedia {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

